* {

    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
    /* border: 0.5px solid red !important; */

}

html {

    --defaultColor: #1A2645;
    --secundaryColor: #1766BE;
    --blackTransparent: #0000000F;
    --roundedRadius: 500px;
    --roundedBox: 6px;
    --footerHeight: 85px;


}

/* Mobile */

@media (max-width: 992px) {

    html {

        --defaultShadow: 10px 10px 21px -10px #00000080;
        --headerHeight: 45px;
        --gap: 20px;
        --padding: 20px;
        --modal-width: 60vh;
        --letter-box-width: 25px;
        --letter-box-height: 35px;
    }

    main {

        height: 100vh;
        min-height: min-content;

    }


    h1 {

        font-size: 48px;

    }

    h2 {

        font-size: 24px;

    }

    .col-2-content {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


    }


    .col-buttons {

        flex-direction: column;
        width: 100%;

    }


    .primary-button,
    .secundary-button {

        font-size: 2em;

    }

    #astronaut-home object {

        height: 350px;

    }




}

/* Desktop */

@media (min-width: 992px) {

    html {

        --defaultShadow: 10px 10px 21px -10px #00000080;
        --headerHeight: 50px;
        --gap: 30px;
        --padding: 40px;
        --modal-width: 90vh;
        --letter-box-width: 50px;
        --letter-box-height: 60px;
    }

    main {

        height: calc(100vh - (var(--footerHeight) + var(--headerHeight)));

    }

    h1 {

        font-size: 64px;

    }

    h2 {

        font-size: 32px;

    }

    .col-2-content {

        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .col-buttons {

        flex-direction: column;
        width: 450px;

    }
    
    #astronaut-home object {

        height: 600px;

    }

    .primary-button,
    .secundary-button {

        font-size: 2em;

    }


    .game-container {

        width: 600px;

    }

}


body {
    min-height: 100%;
    background: linear-gradient(180deg, #2D5CA8 19.27%, #81B1FF 100%);
    background-attachment: fixed;
    background-size: 100%;

}


h1 {

    font-weight: normal;

}

h2 {


    font-weight: normal;

}

header {


    display: flex;
    padding: 0 var(--padding) 0 var(--padding) !important;
    width: 100%;
    height: var(--headerHeight);
    background: rgba(0, 0, 0, 0.06);
    box-shadow: var(--defaultShadow), inset -0.5px -0.5px 2px -1px #ffffff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: row;
    align-content: center;
    align-items: center;

}

.back-button {
    position: absolute;
    display: block;
    float: left;
    cursor: pointer;

}

.logo-icon {

    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


}

.logo-icon:hover {

    transform: rotate(20deg);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    align-items: center;
    z-index: 9999999;
    justify-content: center;
    overflow: hidden;



}

.col-2-content {

    display: flex;
    gap: var(--gap);

}

.astronaut {

    display: flex;

}


.title {

    color: white;
    text-align: center;

}

#astronaut-home {

    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;

}

#astronaut-game {
    width: 161px;
    height: 241px;
    background-image: url('../img/astronaut_0.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s;
    z-index: 999999;

}

.float {

    animation: float 4s ease-in-out infinite;

}

.falling {
    animation: falling 4s 1 linear forwards;
}

.locked {

    transition: all 0.8s;
    pointer-events: none;
    cursor: not-allowed;

}

.hidden {

    transition: all 0.8s;
    display: none;

}

.loading-spinner {
    
    transition: all 0.8s;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #15295c 8%, #244cb3 38%, #15295c 54%);
    background-size: 1000px 640px;
    pointer-events: none;

}

.loading-spinner::after {

    content: '';
    background: url('../img/spinner.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    pointer-events: none;

}

.loading-spinner:hover, .loading-spinner:active {

    pointer-events: none;
    cursor: progress;

}



@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 268px 0
    }
}

@keyframes rotating {

    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }

}


@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes falling {
    0% {
        transform: translatey(0px);
    }

    100% {
        transform: translatey(1000px);

    }
}

.col-buttons {

    display: flex;
    gap: var(--gap);


}

.row-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;

}


.row-2-buttons {
    width: 100%;
    display: flex;
    gap: var(--gap);

}

.primary-button {
    width: 100%;
    height: 55px;
    white-space: nowrap;
    display: flex;
    background-color: transparent;
    box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 50%), inset 1px 1px 2px -1px #ffffff;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: var(--roundedRadius);
    color: white;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;

}

.primary-button:hover {
    background-color: #ffffff0f;
    backdrop-filter: blur(6px);
    box-shadow: 10px 15px 21px -10px rgb(0 0 0 / 50%), inset 0.5px 0.5px 2px -1px #ffffff;


}

.primary-button:active {

    box-shadow: 10px 15px 21px -10px rgb(0 0 0 / 50%), inset 0.5px 0.5px 2px -1px #ffffff;
    background-color: var(--defaultColor);

}

.secundary-button {

    display: flex;
    background-color: var(--defaultColor);
    width: 100%;
    height: 55px;
    box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 50%), inset 1px 1px 2px -1px #ffffff;
    backdrop-filter: blur(2px);
    font-size: 26px;
    white-space: nowrap;
    border-radius: var(--roundedRadius);
    color: white;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;

}

.secundary-button:hover {
    background-color: var(--secundaryColor);
    box-shadow: 10px 15px 21px -10px rgb(0 0 0 / 50%), inset 0.5px 0.5px 2px -1px #ffffff;


}

.secundary-button:active {

    background-color: var(--secundaryColor);
    box-shadow: 10px 15px 21px -10px rgb(0 0 0 / 50%), inset 0.5px 0.5px 2px -1px #ffffff;

}

.button-icon {

    height: 20px;

}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 64px;
    font-weight: bold;
    cursor: pointer;

}

.modal {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 999px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 800ms ease-in-out;
}



.modal:target {
    z-index: 9999;
    background-color: #00000093;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
    pointer-events: auto;
    top: 0;
    overflow: hidden;


}



.add-word-container {

    display: flex;
    gap: var(--gap);
    width: var(--modal-width);
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.76);
    font-size: x-large;
    padding: var(--padding);
    border-radius: 13px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 50%), inset 1px 1px 2px -1px #ffffff;
    transition: opacity 400ms ease-in;

}


.add-word-container .title {

    color: var(--defaultColor);

}

.section-form-add-word,
.section-form-add-word form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.modal .label-add-word {

    display: none;

}

.modal .input-add-word {
    display: flex;
    width: 100%;
    height: 55px;
    border-radius: var(--roundedRadius);
    font-size: x-large;
    text-align: center;
    gap: var(--gap);
    border: 0;

}

.col-game-boxes {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

}

.secret-word-title {

    font-size: x-large;
    color: white;

}

.container-game-box {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.secret-word-boxes {

    display: flex;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;

}



.box-letter {

    width: var(--letter-box-width);
    height: var(--letter-box-height);
    display: flex;
    background-color: rgba(0, 0, 0, 0.116);
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 2px -1px #FFFFFF;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: var(--roundedBox);
    color: white;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-size: 2em;
}

.box-letter:empty {

    display: none;

}

.wrong {

    width: 100%;

}

.box-with-letter {

    background-color: rgba(255, 255, 255, 0.096);

}

.tip-text {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}

.tip-text span {

    font-size: large;
    color: white;

}

.box-keyboard {

    width: 45px;
    height: 45px;
    display: flex;
    background-color: var(--defaultColor);
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.5), inset 0.25px 0.25px 2px -1px #FFFFFF;
    border-radius: var(--roundedBox);
    color: white;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    font-size: xx-large;
    overflow: hidden;
    position: relative;


}

.box-keyboard:hover {

    background-color: var(--secundaryColor);

}

.box-keyboard:active {

    background-color: var(--secundaryColor);

}


.disabled>div {

    pointer-events: none;
    filter: blur(2px);

}

.successKey,
.successKey:hover {

    background-color: green;
    cursor: not-allowed;
    animation-name: successButton;
    animation-duration: .5s;

}


.wrongKey,
.wrongKey:hover {

    background-color: grey;
    cursor: not-allowed;
    animation-name: wrongButton;
    animation-duration: .5s;

}




@keyframes wrongButton {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(2px);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(1px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-1px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(1px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-1px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}

@keyframes successButton {
    0% {
        transform: scale(1);
        timing-function: ease-in;
    }

    37% {
        transform: scale(1.2);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(1px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-1px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(1px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-1px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}




.game-container {

    display: flex;
    flex-direction: column;
    gap: var(--gap);

}





#bg-stars {
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;

}


.stars-wrapper {

    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(../img/stars-z1.svg);
    z-index: -1;
    animation: stars-float 4s ease-in-out infinite;


}

.stars-wrapper2 {

    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(../img/stars-z2.svg);
    z-index: -1;
    animation: stars-float2 4s ease-in-out infinite;
    filter: blur(2px);


}

@keyframes stars-float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(15px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes stars-float2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(35px);
    }

    100% {
        transform: translatey(0px);
    }
}

footer {


    width: 100%;
    background-color: var(--defaultColor);
    height: var(--footerHeight);
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
    align-content: center;
    justify-content: flex-end;

}

footer span {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;


}

.footerTab {
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: x-small;
    text-align: center;
    width: 100%;
    background-color: #00000040;
    flex-direction: row;
    justify-content: center;
}

.logo-alura {

    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}

#descriptionLogo {

    color: white;
}